
.logContainer{
	margin: 0;
	padding: 0;
	display: inherit;
	color: #000000;
	    font-family: Roboto, 'Segoe UI',Arial,'Microsoft Yahei',sans-serif;
}

.logContainerIn{
	max-width: 50rem;
	margin: 0 auto;
	background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
	margin-top: 1.25rem;
	padding: 0.625rem 0.625rem;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
      url(../roboto/roboto-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url(../roboto/roboto-medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url(../roboto/roboto-bold.woff2) format('woff2');
}

p {
	margin: 0;
	line-height: 1.5rem;
}

table a {
	color: #e7672e;
	text-decoration: none;
}

table a:hover, a:focus {
	border-bottom: 1px solid #e7672e;
}

h1 {
	font-size: 2rem;
	line-height: 64px;
}

h2 {
	font-size: 2rem;
	line-height: 64px;
}



img {
	vertical-align: middle;
}

table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-style: hidden;
	border-collapse: collapse;
}

caption {
	text-align: left;
}

thead{
	background-image: -webkit-linear-gradient(to right,#2cb51d99, #dd4add, #05a6dd, #e8800f); /* 控制边框颜色渐变 */;
	background-image: -moz-linear-gradient(to right,#2cb51d99, #dd4add, #05a6dd, #e8800f);
	background-image: linear-gradient(to right,#2cb51d10, #dd4add10, #05a6dd10, #e8800f10); /* 标准的必须写在最后 */
}

tbody {
	display: table-row-group;
	vertical-align: middle;
}

th,td {
	font-weight: 300;
	padding: 0 1.4rem;
	line-height: 2.1rem;
	border: 1px dashed #cbcbcb;
	font-size: 1rem;
}

th {
	padding: 5px 0;
	width: auto;
}

table th:first-child {
	width: 3.75rem;
}

table th:nth-child(2) {
	width: 98px;
}

table th:nth-child(3) {
	width: auto;
}

table th:nth-child(4), td.remark{
	width: 12.5rem;
}

td.version, td.date{
	text-align: center;
	padding: 0;
}

td.type {
    border: none;
}

td.descrip {
    border: none;
}

td.remark{
	font-size: .9rem;
	line-height: 1rem;
}

td.divTop{
	border-top: 1px dashed #cbcbcb;
}

ul, ol {
	margin: .5rem 1.5rem;
}

ul, li {
	list-style: none;
}

li.fix:before{
	content: "　 ";
	margin-left: 0;
	margin-right: 2px;
	line-height: 20px;
	background-image: url(../img/historyicon_exp.png);
	background-repeat: no-repeat;
	background-position: 0 -200px;
}

li.fix, li.improve{
	color: green;
}

li.add:before {
	content: "　 ";
	margin-left: 0;
	margin-right: 2px;
	line-height: 20px;
	background-image: url(../img/historyicon_exp.png);
	background-repeat: no-repeat;
    background-position: 0 0;
}

li.add{
	color: blue;
}

li.improve:before {
	content: "　 ";
	margin-left: 0;
	margin-right: 2px;
	line-height: 20px;
	background-image: url(../img/historyicon_exp.png);
	background-repeat: no-repeat;
	background-position: 0 -600px;
}

li.change:before {
	content: "　 ";
	margin-left: 0;
	margin-right: 2px;
	line-height: 20px;
	background-image: url(../img/historyicon_exp.png);
	background-repeat: no-repeat;
	background-position: 0 -300px;
}
li.change{
	color: #500000;
}

li.remove:before{
	content: "　 ";
	margin-left: 0;
	margin-right: 2px;
	line-height: 20px;
	background-image: url(../img/historyicon_exp.png);
	background-repeat: no-repeat;
    background-position: 0 -100px;
}
li.remove{
	color: gray;
}


li, tbody tr {
	transition: background-color, 1s;
}

li:hover{
	background: rgba(248, 195, 205, .3);
	transition: background-color .01s;
}

ul, ul li {
	margin-left: 0;
	font-size: .9rem;
	font-weight: 200;
	line-height: 1rem;
}


/* Tooltip */

.bb-tooltip {
  border-bottom: 1px dotted #000;
  text-decoration: none;
  cursor: help;
}
span[data-tooltip] {
  position: relative;
}
span[data-tooltip]::before,
span[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
span[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
  z-index: 999;
}
span[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

span[data-tooltip]:hover::before,
span[data-tooltip]:hover::after {
  display: block;
}

/** Tooltip positioning **/

/* left tooltip */
span[data-tooltip][data-placement="left"]::before {
  top: -25%;
  right: 100%;
  margin-right: 10px;
}
span[data-tooltip][data-placement="left"]::after {
  border-left-color: #000;
  border-right: none;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  margin-right: 4px;
}

/* right tooltip */
span[data-tooltip][data-placement="right"]::before {
  top: -25%;
  left: 100%;
  margin-left: 10px;
}
span[data-tooltip][data-placement="right"]::after {
  border-right-color: #000;
  border-left: none;
  top: 50%;
  left: 100%;
  margin-top: -6px;
  margin-left: 4px;
}

/* top tooltip */
span[data-tooltip][data-placement="top"]::before {
    float: left !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
  width: 100%;
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
}
span[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 100%;
  left: 10px;
  margin-bottom: 4px;
}

/* bottom tooltip */
span[data-tooltip][data-placement="bottom"]::before {
  top: 100%;
  left: 0;
  margin-top: 10px;
}
span[data-tooltip][data-placement="bottom"]::after {
  border-bottom-color: #000;
  border-top: none;
  top: 100%;
  left: 10px;
  margin-top: 4px;
}



/* mobile */
@media only screen and (max-device-width: 790px) {
	ul, ol, menu {
		margin: .5rem 0;
	}

	table {
		width: 100%;
		table-layout: initial;
		margin: 1rem 0;
		font-size: .7rem;
	}

	th, td {
		padding: 0 0 0 2px;
		line-height: 1.2rem;
		border: 1px dashed #cbcbcb;
	}

	section {
		padding: 0;
	}

	table th:first-child, td.version {
		width: 3.125rem;
	}
	
	table th:nth-child(2), td.date{
		width: 3.125rem;
	}
	
	table th:nth-child(3) {
		width: auto;
	}
	
	table th:nth-child(4), td.remark{
		width: 4.375rem;
	}

	.container ul.three {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
